.header {
  text-align: center;
}

.btn {
  padding: 5px 25px;
  margin-bottom: 5rem;
}

.goUp {
  top: 40%;
}

.card {
  border: none;
}


.card-body {
  height: 308px;
  overflow: scroll;

}

.list-group {
  width: 100%;
}

.card-text {
  text-align: left;
}

// .list {
//   display: flex;
//   width: 100%;
// }
